# Gradle
.gradle/
.gradle-home/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs
.idea/
*.iws
*.iml
*.ipr
out/
bin/
.vscode/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# OS files
.DS_Store

# Android SDK
local.properties

# NeoLink runtime artifacts
/logs/
/config.cfg
/nodes.json
/eula.txt
/*-env-bundled/

# Temporary files
all_code.txt
*.log
*.temp
