#远程 NeoAuthServer 的地址
#The address of the remote NeoAuthServer
NAS_URL=https://neolink.ceroxe.top/

# NeoKeyManager 节点请求路由
# NeoKeyManager Node Request Routing
NKM_NODELIST_URL=https://p.ceroxe.top:49999/client/nodelist

#设置是否启用自动更新
#Enable or disable automatic updates
ENABLE_AUTO_UPDATE=true

#设置用来连接本地服务器的代理服务器ip和端口，示例：socks->127.0.0.1:7890 如果需要登录则提供密码， 格式： ip:端口@用户名:密码   示例：socks->127.0.0.1:7890@Ceroxe;123456   如果不需要去请留空
#Set the proxy server IP address and port to connect to the on-premises server,Example: socks->127.0.0.1:7890 Provide password if login is required, Format: type->ip:port@username:password Example: socks->127.0.0.1:7890@Ceroxe;123456   If you don't need to go, leave it blank
PROXY_IP_TO_LOCAL_SERVER=

#设置用来连接 NeoProxyServer 的代理服务器ip和端口，示例：socks->127.0.0.1:7890 如果需要登录则提供密码， 格式： ip:端口@用户名:密码   示例：socks->127.0.0.1:7890@Ceroxe;123456
#Set the proxy server IP address and port to connect to the NeoProxyServer,Example: socks->127.0.0.1:7890 Provide password if login is required, Format: type->ip:port@username:password Example: socks->127.0.0.1:7890@Ceroxe;123456   If you don't need to go, leave it blank
PROXY_IP_TO_NEO_SERVER=

#设置发送心跳包的间隔，单位为毫秒
#Set the interval for sending heartbeat packets, in milliseconds
HEARTBEAT_PACKET_DELAY=1000

#如果启动了自动重连，则将间隔多少秒后重连，单位为秒，且必须为大于0的整数
#If auto-reconnect is enabled, the number of seconds to wait before reconnecting will be specified in seconds and must be an integer greater than 0
RECONNECTION_INTERVAL=30
